@charset "utf-8";
/* CSS Document */
.loginform
{
	float:left;
	margin-left:500px;
	margin-top:200px;
	width:270px;
	height:180px;
	border:thick #666;
	color:#000;
	border:30px dashed #CC0 ;
	background-color:#FC6;
	
	
}
.loginform form
{
	margin-left:30px;
}
.loginform input
{
	float:left;
	width:200px;
	height:20px;
	border:2px solid #336;
	box-shadow:0px 0px 1px 1px;
	
	
	
}
#btnlogin
{
	width:70px;
	height:30px;
	color:#000;
}
#reset
{
	width:70px;
	height:30px;
	color:#000;
	margin-left:5px;
}