@charset "utf-8";
/* CSS Document */
.headerTitle
{
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
	color:#639;
	margin-left:400px;
}
.menuText
{
	float:left;
	color:#999;
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size:24px;
    margin-left:30px;
	
}
.headerMenu
{
	float:right;
	color:#CCC;
	font-size:16px;
	width:900px;
	height:10px;
}
.headerMenu ul
{
     
	padding:0px;
	margin:0px;
	list-style:none;
}
.headerMenu ul li
{

	padding:0px;
	margin:0px;
	
}

.headerMenu ul li a
{
	float:left;
	width:90px;
	height:auto;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-style:normal;
	font-weight:100;
	text-transform:capitalize;
	text-shadow:#036;
	color:#999;
	margin-top:5px;
	
}
.contentItemBox
{
	float:left;
	width:1200px;
	height:auto;
	
	
	
}
.contentItemBox table
{
	border-spacing:0;
	border-collapse:separate;
	border-color:#036;
	padding:10px 10px 10px 10px;
	border-radius: 30px 30px 30px 30px;
	-moz- border-radius: 30px 30px 30px 30px;
	
	
}
.contentItemBox tr
{
	 text-align:center;
     font-family:Verdana, Geneva, sans-serif;
	 font-size:14px;
	 height:160px;
	 border-radius: 30px 30px 30px 30px;
	-moz- border-radius: 30px 30px 30px 30px;
	 border-collapse:separate;
	 padding: 14px 14px 14px 14px;
	 transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	 
}
.contentItemBox td
{
	
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
	border-radius: 10px 10px 10px 10px;
	-moz- border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
   /*display: inline-block;*/
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    
    text-align: center;
	transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	transition-duration:5;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
	
.contentItemBox td:hover
{
	background-color:#993;
}
.contentItemBox a
{
	text-decoration:none;
	
}
.contentItemBox a:hover
{
  background-color:#303;	
}

.footerText
{
	float:left;
	margin-left:500px;
	color:#999;
	font-family:"MS Serif", "New York", serif;
}

.data
{
border-spacing:1px;
width:1200px;
margin-top:50px;
}
.data .tablehead
{
background-color:#555555;
width:100px;
font-size:20px;
color:#FFF;
height:30px;
text-align:left;
vertical-align:top;
font-family:Verdana, Geneva, sans-serif;

}

.data .default
{

font-family:Verdana, Geneva, sans-serif;
background-color:#f6f4f0;
vertical-align:top;
height:30px;
vertical-align:top;
}

.data .alternate
{	
font-family:Verdana, Geneva, sans-serif;
background-color:#fffff;
vertical-align:top;
height:30px;
vertical-align:top;
}

.data b
{
	
	background-color:#600;
	color:#0F0;
	text-decoration:blink;
	
}
.insertitem
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
	color:#003;
}
.insertitem input
{
	width:200px;
	height:30px;
	border:1px solid #CCC;
	box-shadow:0px 0px 2px #9F9;
}
.insertitem select
{
	width:200px;
	height:30px;
}
.insertitem #submit
{

	width:100px;
	height:30px;
	font-family:Verdana, Geneva, sans-serif;
}
.insertitem #reset
{

	width:100px;
	height:30px;
	font-family:Verdana, Geneva, sans-serif;
}
.mailoutput
{
	width:650px;
	height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	
}